.background-01 {
    background-image: url('../assets/executive-insight-background-01.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    max-height: 100%;
    overflow: auto;
}

.background-02 {
    background-image: url('../assets/executive-insight-background-02.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    max-height: 100%;
    overflow: auto;
}

.background-03 {
    background-image: url('../assets/executive-insight-background-03.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    max-height: 100%;
    overflow: auto;
}

.background-04 {
    background-image: url('../assets/executive-insight-background-04.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    max-height: 100%;
    overflow: auto;
}

.background-05 {
    background-image: url('../assets/executive-insight-background-05.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    max-height: 100%;
    overflow: auto;
}

.background-06 {
    background-image: url('../assets/executive-insight-background-06.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 85vh;
    max-height: 100%;
    overflow: auto;
}

.background-07 {
    background-image: url('../assets/executive-insight-background-07.png');
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    height: 80vh;
    max-height: 100%;
    overflow: auto;
}

.background-08 {
    background-image: url('../assets/executive-insight-background-08.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    max-height: 100%;
    overflow: auto;
}

.background-09 {
    background-image: url('../assets/executive-insight-background-09.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    max-height: 100%;
    overflow: auto;
}

.background-10 {
    background-image: url('../assets/executive-insight-background-10.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    max-height: 100%;
    overflow: auto;
}

.background-11 {
    background-image: url('../assets/executive-insight-background-11.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    max-height: 100%;
    overflow: auto;
}

.background-12 {
    background-image: url('../assets/executive-insight-background-12.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    max-height: 100%;
    overflow: auto;
}

.background-13 {
    background-image: url('../assets/executive-insight-background-13.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    max-height: 100%;
    overflow: auto;
}

.background-14 {
    background-image: url('../assets/executive-insight-background-14.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    max-height: 100%;
    overflow: auto;
}