.button {
    border-radius: 3px;
    border: solid 1px rgb(166, 0, 255);
    padding: 5px 10px;
    background: none;
    transition: background-color 0.5s ease;
}

.button:hover {
    background-color: rgb(166, 0, 255, 0.7);
    color: white;
    cursor: pointer;
}

.button-02 {
    border-radius: 3px;
    border: none;
    background-color: rgb(226,183,95, 0.7);
    padding: 5px 10px;
    width: 100%;
    transition: background-color 0.5s ease;
}

.button-02:hover {
    background-color: rgb(226,183,95);
}

.button-03 {
    border-radius: 3px;
    border: none;
    background-color: rgb(47, 138, 198, 0.8);
    padding: 5px 10px;
    color: white;
    width: 100%;
    transition: background-color 0.5s ease;
}

.button-03:hover {
    background-color: rgb(47, 138, 198);
    color: white;
}

.button-04 {
    width: 200px;
    border: solid 1px rgb(124, 174, 255);
    margin: 10px;
    border-radius: 10px;
    height: 100px;
    transition: background-color 0.5s ease;
}

.button-04:hover {
    cursor: pointer;
    background-color: rgb(124, 174, 255, 0.5);
}

.button-05 {
    border-radius: 3px;
    border: none;
    background-color: rgb(154,200,200, 0.8);
    padding: 5px 10px;
    width: 100%;
    transition: background-color 0.5s ease;
}

.button-05:hover {
    background-color: rgb(154,200,200);
}

.button-06 {
    border-radius: 3px;
    border: solid 1px rgb(173, 173, 173);
    padding: 5px 10px;
    background: none;
    transition: background-color 0.5s ease;
}

.button-06:hover {
    background-color: rgba(173, 173, 173, 0.7);
}

.button-07 {
    border-radius: 3px;
    border: none;
    background-color: rgba(167, 167, 167, 0.8);
    padding: 5px 10px;
    width: 100%;
    transition: background-color 0.5s ease;
}

.button-07:hover {
    background-color: rgb(167, 167, 167);
}

.button-08 {
    border-radius: 3px;
    border: solid 1px rgb(47, 138, 198);
    padding: 5px 10px;
    background: none;
    transition: background-color 0.5s ease;
}

.button-08:hover {
    background-color: rgba(47, 138, 198, 0.7);
}

.button-link {
    text-decoration: underline;
    background: none;
    border: none;
    color:#707070;
}

.create {
    background-color: #f2f2f2;
    border-radius: 6px;
    transition: background-color 0.5s ease;
}

.create:hover {
    background-color: #cccccc;
    cursor: pointer;
}

.ellipsis:hover {
    cursor: pointer;
}

.workflow {
    width: 400px;
    border-radius: 5px;
    flex-shrink: 0;
}

.workflow-header {
    width: 100%;
    height: 50px;
    border-top-left-radius: 5px;
    border-top-Right-radius: 5px;
}

.workflow-body {
    width: 100%;
    height: 200px;
    padding: 20px;
    overflow: auto;
}
