.create:hover {
    background-color: #cccccc;
    cursor: pointer;
}

.create {
    background-color: #f2f2f2;
    border-radius: 6px;
    transition: background-color 0.5s ease;
}

.button:hover {
    cursor: pointer;
}

.ellipsis:hover {
    cursor: pointer;
}