.sidebar {
  position: static;
  height: 85vh;
  max-height: 100%;
  overflow: auto;
  width: 250px;
  }

.link:hover {
  background-color: #cccccc;
  cursor: pointer;
}

.link {
  border-radius: 6px;
}